html {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    width: 66vw;
    margin: auto;
    background-color: #f4f4f4;
}

span {
    font-weight: 800;
}

.main {
    margin-top: 10vh;
}

.ui-kit {
    background-color: white;    
}

.ui-container {
    margin-left: 2em;
}

.lora {
    font-family: 'Lora', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.logos, .icon, .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.business-cards {
    width: 66vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-item img {
    height:300px;
    width: 176px;
}

.color-grid {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px 0;
    margin: auto;
}

.icon {
    padding-top: 30px;
}

.icon img {
    height: 50px;
}

.button p {
    text-decoration: none;
    color: #222;
    padding: 12px 24px;
    background-color: rgba(235, 235, 235, .6);;
    border: 1px solid #222;
    border-radius: 5px;
    transition:  all 1s ease-in;
    
}

.button p:hover {
    background-color: rgba(0, 176, 236, .6);
    color: #fff;
    border: 1px solid rgba(0, 70, 128, 0.6);
    cursor: pointer;
}

.hero {
    width: 66vw;
    margin: auto;
}

.hero img {
    width: 100%;
}
